  <% if (index){ %>
    <article id="<%= post.layout %>-<%= post.slug %>" class="article row article-type-<%= post.layout %> row frontarticle" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="col col-sm-9 article-inner">
  <% } else { %>
    <article id="<%= post.layout %>-<%= post.slug %>" class="article row article-type-<%= post.layout %> row contentarticle" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
      <link itemprop="mainEntityOfPage" href="<%- post.permalink %>" />
      <div class="col col-sm-9 article-inner contentpage">

    <a class="twitter-share-button btn"
      href="https://twitter.com/intent/tweet" data-size="large" target="_blank">
    <span>Tweet this</span></a>

    <a class="twitter-follow-button btn"
      href="https://twitter.com/ladysign" data-size="large">
    Follow @ladysign</a>

    <% } %>

    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
        Posted on <%- partial('post/date', {class_name: 'article-date', date_format: 'MMM Do YYYY'}) %>
        <%- partial('post/category') %>
        <div class="hidden" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">Lee Boonstra</span>
        </div>
        <div class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
          <meta itemprop="name" content="Ladysign" />
          <meta itemprop="logo" content="<%- config.url %>/images/screen.png" />
        </div>
        <img class="hidden" itemprop="image" src="<%- config.url %>/images/screen.png" alt="Screenshot">
      </header>
    <% } %>
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a role="button" class="btn btn-primary" href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>

    <% if (!index && page.header){ %>
      <img src="<%- page.header %>" alt="<%- post.title %>" />
    <% } %>

      <%- post.content %>
    <% } %>

    <% if(page.youtube) {  %>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "VideoObject",
          "name": "<%= post.title %>",
          "@id":  "https://www.youtube.com/embed/<%= page.youtube %>",
          "datePublished": "<%- post.date.toISOString() %>",
          "description" : "Video: <%- post.title %>",
          "thumbnailURL" : "https://img.youtube.com/vi/<%= page.youtube %>/0.jpg",
          "thumbnail" : "https://img.youtube.com/vi/<%= page.youtube %>/0.jpg",
          "uploadDate" : "<%- post.updated.toISOString() %>",
          "author": {
            "@type": "Person",
            "name": "Lee Boonstra"
          }
        }
    </script>
    <% } else { %>

    <script type="application/ld+json">
      { "@context": "http://schema.org", 
      "@type": "BlogPosting",
      "headline": "<%- post.title %>",
      "genre": "technology", 
      "datePublished": "<%- post.date.toISOString() %>",
      "dateCreated": "<%- post.date.toISOString()  %>",
      "dateModified": "<%- post.date.toISOString() %>",
      "publisher": {
        "@type": "Organization",
        "name": "Ladysign",
        "logo": "<%- config.url %>/images/screen.png"
      },
      "description": "DevTricks Lee Boonstra's blog. <%- post.description %>",
      "mainEntityOfPage": "<%- post.permalink %>",
      "image": "<%- config.url %>/images/screen.png",
      "articleBody": "DevTricks Lee Boonstra's blog. <%- post.description %>",
      "author": {
        "@type": "Person",
        "name": "Lee Boonstra",
        "url": "http://www.leeboonstra.com"
      }
      }
      </script>

    
    <% } %>

    <footer class="article-foot">
      <%- partial('post/tag') %>

      <% if (!index){ %>
        <div class="bar">
          <a class="twitter-share-button btn"
          href="https://twitter.com/intent/tweet"
          data-size="large" target="_blank">
          <span>Tweet this</span></a>
        </div>
      <% } %>
    
      <% if (!index){ %>
        <%- partial('post/nav') %>
      <% } %>

      
    </footer>

  </div>

  <div class="col col-sm-3">

    <% if (!index){ %>
      <aside id="sidebar" class="sidebar">
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      </aside>
    <% } %>

  </div>
</article>

<% if (!index && post.excerpt && list_related_posts){ %>
  <section id="related" class="related containerfluid">
    <div class="container">
      <div class="row">
        <div class="col col-sm-9">
        <h2>Related Posts</h2>
        <%- list_related_posts({maxCount: 10, orderBy: 'random'}) %>
        </div><div class="col col-sm-3"></div>
      </div>
    </div>
  </section>
<% } %>

<% if (!index && !page.nocomments && config.disqus_enabled && config.disqus_shortname){ %>
<section id="comments" class="comments containerfluid">
     
    <div class="container">
        <div class="row">
          <div class="col col-sm-9">
            <h2>Comments</h2>
            <div class="disqus"></div>
                <noscript>Please enable JavaScript to view the comments.</a></noscript>
            </div>
          </div><div class="col col-sm-3"></div>
        </div>
      </div>
</section>
<% } %>