<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
  <time class="hidden" datetime="<%= post.updated.format('YYYY-MM-DD') %>" itemprop="dateModified"><%= date(post.updated, date_format) %></time>
</a>