<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="https://schema.org/Blog">

<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title itemprop="name"><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta itemprop="creator" content="Lee Boonstra">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>

  <%- css('assets/styles/main') %>

  <!--<link rel="manifest" href="site.webmanifest">-->
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <%- body %>

  <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>


  &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>

  <%- partial('_partial/scripts') %>
  <%- partial('_partial/google-analytics') %>
  
  </body>

</html>
