<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="https://schema.org/Blog">

<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title itemprop="name"><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta itemprop="creator" content="Lee Boonstra">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>

  <%- css('assets/styles/main') %>

  <!--<link rel="manifest" href="site.webmanifest">-->
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
          
  <header>
    <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/" title="<%-config.title %>" rel="home">
          <%- config.title %>
        </a>
      </div>
        
      <div role="navigation" class="nav-collapse in collapse">

          <ul class="nav navbar-nav">
              <% for (var i in config.menu){ %>
                <li><a class="<%= is_current(theme.menu[i]) ? 'active' : '' %>"
                       href="<%- url_for(config.menu[i]) %>"><%= i %></a></li>
              <% } %>
          </ul>
          <% if (config.rss){ %>
            <a id="nav-rss-link" class="nav-icon" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
          <% } %>

          <%- search_form({button: '&#xF002;'}) %>
      </div>  
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="jumbotron">
            <%- config.subtitle %>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
      <div class="row">
          <div class="col col-sm-9">
              <main class="container-fluid">
                  <%- body %>
              </main>
          </div>
          <div class="col col-sm-3">
            <aside id="sidebar">
              <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
            </aside>
          </div>
        </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col col-sm-4">
            <%- partial('_widget/recent_posts') %>
        </div>
        <div class="col col-sm-4">
            <%- partial('_widget/archive') %>
        </div>
        <div class="col col-sm-4">
            <%- partial('_widget/tag') %>
        </div> 
      </div>
      <div class="row">
          &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
      </div>
    </div>
  </footer>

  <%- partial('_partial/scripts') %>
  <%- partial('_partial/google-analytics') %>
  
  </body>
</html>
