<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="https://schema.org/Blog">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="all">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="640">
  
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
  <meta name="yandex-verification" content="adf3dcb0d559ea5a" />

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
    <%
    var title = page.title;
    if (is_archive()) {
        title = __('index.archive');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('index.category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('index.tag') + ': ' + page.tag;
    } else if (is_post()) {
        title = '' + page.title + '';
    } else if (is_home()) {
        title = ' DevTricks | Lee Boonstra\'s Developer Blog';
    }
  %>
  <title itemprop="name"><% if (title) { %><%= title %>  | <% } %><%= config.title %></title>

  <meta itemprop="author" content="Lee Boonstra">   
  <meta itemprop="creator" content="Lee Boonstra">
  <meta itemprop="publisher" content="Lee Boonstra">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- autoCanonical(config, page) %>
  <link  href="//plus.google.com/117712452932146916020" rel="author" />
  <link rel="image_src" type="image/png" href="<%- config.url %>/images/screen.png" />
  <link rel="profile" href="//gmpg.org/xfn/11">
  <link rel="pingback" href="<%- config.url %>">
  <link itemprop="mainEntityOfPage" href="<%- config.url %>" />

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <link rel="preconnect" href="<%= config.url %>">

  <link rel="preload" href="/assets/js/vendor/vendors.min.js" as="script">

  <link rel="manifest" href="/manifest.json">
  <link type="text/plain" rel="author" href="<%- config.url %>/humans.txt" />

  <meta property="og:image" content="<%- config.url %>/images/screen.png"/>
  <meta name="twitter:image" content="<%- config.url %>/images/screen.png"/>
  <meta name="twitter:creator" content="@ladysign" />
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
          
<div class="wrapper">
  <header>
  <div class="filler"></div>
  <nav class="navbar navbar-expand-lg navbar-light navbar-inverse navbar-fixed-top">
      <button class="navbar-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="iconmenu"></span>
      </button>
      <a class="navbar-brand" href="/" title="<%-config.title %>">DevTricks</a>
            
      <div class="collapse navbar-collapse" id="navbarTogglerDemo">
        
        <ul class="nav navbar-nav">
            <% for (var i in config.menu){ %>
              <li><a class="icon<%= i %> <%= is_current(theme.menu[i]) ? 'active' : '' %>"
                     href="<%- url_for(config.menu[i]) %>"><%= i %></a></li>
            <% } %>

            <li>
                <%- partial('_widget/category') %>
            </li>
        </ul>


        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
          <input type="search" name="q" class="search-form-input" placeholder="Search...">
          <button type="submit" class="btn btn-primary search-form-submit"><span class="iconsearch"></span></button>
          <input type="hidden" name="sitesearch" value="<%- config.url %>">
        </form>

    </nav>

    <% if (url_for(page.path) == '/index.html' || url_for(page.path).indexOf('/tags/') != -1 || url_for(page.path).indexOf('/categories/') != -1){ %> 
      <div class="container-fluid">
          <div class="row">
            <div class="jumbotron">
                <%- config.subtitle %>

                <ul class="social">
                    <li><a href="http://github.com/savelee/" target="_blank" class="icon-github"><span>Github</span></a></li>
                    <li><a href="http://www.twitter.com/ladysign" target="_blank" class="icon-twitter"><span>Twitter</span></a></li>
                    <li><a href="http://nl.linkedin.com/in/leeboonstra/" target="_blank" class="icon-linkedin"><span>LinkedIn</span></a></li>
                    <% if (config.rss){ %>
                      <li><a id="nav-rss-link" class="icon-rss" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a></li>
                    <% } %>
                
                </ul>
            </div>
          </div>
        </div>

        <aside id="sidebarfront" class="sidebar">
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        </aside>
      
    <% } %>

  </header>



  <main class="container-fluid content">
      <h1 style="display: none;">Blog</h1>
      <%- body %>
  </main>
  <footer class="foot">
    <div class="container">
      <div class="row">
        <div class="col col-sm-4">
            <%- partial('_widget/archive') %>
        </div>
        <div class="col col-sm-4">

          <h4>External Sites</h4>
            <ul>
                <li><a href="https://gist.github.com/savelee">My Gists Code Snippets</a></li>
                <li><a href="http://www.github.com/savelee">My Github</a></li>
                <li><a href="http://speakerdeck.com/savelee/">My Slidedecks</a></li>
                <li><a href="http://www.amazon.com/Lee-Boonstra/e/B00MRXE3Q0/ref=sr_ntt_srch_lnk_1?qid=1436781780&amp;sr=8-1">My Book</a></li>
                <li><a href="http://twitter.com/ladysign">My Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/leeboonstra">
                My Linkedin</a></li>
            </ul>

        </div> 
        <div class="col col-sm-4">
            <%- partial('_widget/recent_posts') %>
        </div>
      </div>
    </div>
  </footer>
  <footer class="bottom">
    <div class="row">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </div>
  </footer>
</div>
  <%- partial('_partial/scripts') %>
  <%- partial('_partial/google-analytics') %>
  
  </body>
</html>
